/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import 'https://www.nerdfonts.com/assets/css/webfont.css';

i {
  color: rgb(115 130 175 / 95%);
  margin-right: 7px;
}

body {
  color: rgb(255 255 255 / 90%);
  font-family: ui-monospace, monospace;
  font-size: 14px;
  overflow: hidden;
}

html,
body,
#root {
  height: 100%;
}

#root {
  background: rgba(0, 0, 0, 0.7);
  margin: 0px 10px;
  border-radius: 10px;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 4px 1vw;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
}

.tiling-direction,
.keyboard,
.battery {
  margin-right: 8px;
}

.workspaces {
  display: flex;
  align-items: center;
}

.workspace {
  background: transparent;
  margin-right: 4px;
  color: rgb(255 255 255 / 90%);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid rgb(255 255 255 / 100%);
  padding: 2px 6px;

  &.focused,
  &:hover {
    color: rgb(0 0 0 / 100%);
    background: rgb(255 255 255 / 90%);
  }
}

.tiling-direction {
  background: rgb(255 255 255 / 15%);
  color: rgb(255 255 255 / 90%);
  border-radius: 2px;
  line-height: 1;
  padding: 4px 8px;
  border: 0;
  cursor: pointer;
}

.battery {
  position: relative;
}

.battery .charging-icon {
  position: absolute;
  font-size: 7px;
  left: -8px;
  top: 3px;
}

.date {
  margin-left: 20px;
}
